{% extends 'main.html' %}

{% block title %}
<title>Online Shop</title>
{% endblock %}

{% block body %}
<main class="container">
    <div class="card-deck mb-3 text-center">
    {% for elem in data %}
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">{{ elem.name }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ elem.price }} <small class="text-muted">rub</small></h1>
          <p>{{ elem.desc }}</p>
          <a href="/buy/{{ elem.id }}" class="w-100 btn btn-lg btn-outline-primary">Buy</a>
      </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}
</main>>

